<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Przetargownia</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <header>
    <a href="/"><h1>Przetargownia</h1></a>
  </header>
  <% if (success == 1) { %>
    <div class="alert alert-success">
      Oferta została złożona pomyślnie!
    </div>
  <% } else if (success == -1) { %>
    <div class="alert alert-danger">
      Wystąpił błąd podczas składania oferty.
    </div>
  <% } %>
  <div class="main-container">
    <div class="card">
      <h3>Otwórz Przetargi</h3>
      <p>Sprawdź dostępne, trwające przetargi.</p>
      <a href="/tenders">Przejdź do przetargów</a>
    </div>
    <div class="card">
      <h3>Stwórz Przetarg</h3>
      <p>Dodaj nowy przetarg do systemu.</p>
      <a href="/nowy-przetarg">Stwórz przetarg</a>
    </div>
    <div class="card">
      <h3>Zakończone Przetargi</h3>
      <p>Przeglądaj zakończone przetargi.</p>
      <a href="/przetargi-zakonczone">Zakończone przetargi</a>
    </div>
  </div>

  <footer>
    <p>Autor: <strong>Łukasz Walancik</strong> | <a href="https://github.com/LukashWalancik">GitHub</a></p>
  </footer>
</body>
</html>
