:root {
    --md-sys-color-primary: rgb(43 99 139);
    --md-sys-color-surface-tint: rgb(43 99 139);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(204 229 255);
    --md-sys-color-on-primary-container: rgb(4 75 113);
    --md-sys-color-secondary: rgb(80 96 111);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(212 228 246);
    --md-sys-color-on-secondary-container: rgb(57 72 86);
    --md-sys-color-tertiary: rgb(102 88 123);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(236 220 255);
    --md-sys-color-on-tertiary-container: rgb(78 65 98);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(247 249 255);
    --md-sys-color-on-background: rgb(24 28 32);
    --md-sys-color-surface: rgb(247 249 255);
    --md-sys-color-on-surface: rgb(24 28 32);
    --md-sys-color-surface-variant: rgb(222 227 235);
    --md-sys-color-on-surface-variant: rgb(66 71 78);
    --md-sys-color-outline: rgb(114 120 126);
    --md-sys-color-outline-variant: rgb(194 199 206);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(45 49 53);
    --md-sys-color-inverse-on-surface: rgb(238 241 246);
    --md-sys-color-inverse-primary: rgb(152 204 249);
    --md-sys-color-primary-fixed: rgb(204 229 255);
    --md-sys-color-on-primary-fixed: rgb(0 30 49);
    --md-sys-color-primary-fixed-dim: rgb(152 204 249);
    --md-sys-color-on-primary-fixed-variant: rgb(4 75 113);
    --md-sys-color-secondary-fixed: rgb(212 228 246);
    --md-sys-color-on-secondary-fixed: rgb(13 29 42);
    --md-sys-color-secondary-fixed-dim: rgb(184 200 217);
    --md-sys-color-on-secondary-fixed-variant: rgb(57 72 86);
    --md-sys-color-tertiary-fixed: rgb(236 220 255);
    --md-sys-color-on-tertiary-fixed: rgb(33 21 52);
    --md-sys-color-tertiary-fixed-dim: rgb(209 191 231);
    --md-sys-color-on-tertiary-fixed-variant: rgb(78 65 98);
    --md-sys-color-surface-dim: rgb(215 218 223);
    --md-sys-color-surface-bright: rgb(247 249 255);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(241 244 249);
    --md-sys-color-surface-container: rgb(235 238 243);
    --md-sys-color-surface-container-high: rgb(230 232 238);
    --md-sys-color-surface-container-highest: rgb(224 226 232);
  }
/* 
  @media (prefers-color-scheme: dark) {
    :root {
        --md-sys-color-primary: rgb(152 204 249);
        --md-sys-color-surface-tint: rgb(152 204 249);
        --md-sys-color-on-primary: rgb(0 51 80);
        --md-sys-color-primary-container: rgb(4 75 113);
        --md-sys-color-on-primary-container: rgb(204 229 255);
        --md-sys-color-secondary: rgb(184 200 217);
        --md-sys-color-on-secondary: rgb(35 50 63);
        --md-sys-color-secondary-container: rgb(57 72 86);
        --md-sys-color-on-secondary-container: rgb(212 228 246);
        --md-sys-color-tertiary: rgb(209 191 231);
        --md-sys-color-on-tertiary: rgb(55 42 74);
        --md-sys-color-tertiary-container: rgb(78 65 98);
        --md-sys-color-on-tertiary-container: rgb(236 220 255);
        --md-sys-color-error: rgb(255 180 171);
        --md-sys-color-on-error: rgb(105 0 5);
        --md-sys-color-error-container: rgb(147 0 10);
        --md-sys-color-on-error-container: rgb(255 218 214);
        --md-sys-color-background: rgb(16 20 24);
        --md-sys-color-on-background: rgb(224 226 232);
        --md-sys-color-surface: rgb(16 20 24);
        --md-sys-color-on-surface: rgb(224 226 232);
        --md-sys-color-surface-variant: rgb(66 71 78);
        --md-sys-color-on-surface-variant: rgb(194 199 206);
        --md-sys-color-outline: rgb(140 145 152);
        --md-sys-color-outline-variant: rgb(66 71 78);
        --md-sys-color-shadow: rgb(0 0 0);
        --md-sys-color-scrim: rgb(0 0 0);
        --md-sys-color-inverse-surface: rgb(224 226 232);
        --md-sys-color-inverse-on-surface: rgb(45 49 53);
        --md-sys-color-inverse-primary: rgb(43 99 139);
        --md-sys-color-primary-fixed: rgb(204 229 255);
        --md-sys-color-on-primary-fixed: rgb(0 30 49);
        --md-sys-color-primary-fixed-dim: rgb(152 204 249);
        --md-sys-color-on-primary-fixed-variant: rgb(4 75 113);
        --md-sys-color-secondary-fixed: rgb(212 228 246);
        --md-sys-color-on-secondary-fixed: rgb(13 29 42);
        --md-sys-color-secondary-fixed-dim: rgb(184 200 217);
        --md-sys-color-on-secondary-fixed-variant: rgb(57 72 86);
        --md-sys-color-tertiary-fixed: rgb(236 220 255);
        --md-sys-color-on-tertiary-fixed: rgb(33 21 52);
        --md-sys-color-tertiary-fixed-dim: rgb(209 191 231);
        --md-sys-color-on-tertiary-fixed-variant: rgb(78 65 98);
        --md-sys-color-surface-dim: rgb(16 20 24);
        --md-sys-color-surface-bright: rgb(54 58 62);
        --md-sys-color-surface-container-lowest: rgb(11 15 18);
        --md-sys-color-surface-container-low: rgb(24 28 32);
        --md-sys-color-surface-container: rgb(28 32 36);
        --md-sys-color-surface-container-high: rgb(39 42 46);
        --md-sys-color-surface-container-highest: rgb(49 53 57);
      }
  } */



  
  .alert {
    padding: 15px 20px;
    margin: 20px 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }





  .create_tender_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
  }


  .form-input, .form-textarea {
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    color: var(--on-surface);
  }

  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  .offer-main {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  .offer_tender-details {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 45%;
  }

  .offer-details {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 45%;
  }

  .tender-details {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 45%;
  }


  .offer-button {
    display: inline-block;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .tender-details button {
    display: inline-block;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1.5rem;
    transition: background-color 0.3s;
  }
  
  .tender-details button:hover {
    background-color: var(--md-sys-color-primary-fixed-dim);
    color: var(--md-sys-color-on-primary-fixed);
  }

  .offer-button:hover {
    background-color: var(--md-sys-color-primary-fixed-dim);
    color: var(--md-sys-color-on-primary-fixed);
  }

  table {
    border-collapse: collapse;
    width: 90%;
    max-width: 1200px;
    background-color: var(--md-sys-color-surface);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  th, td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid var(--md-sys-color-outline-variant);
  }
  
  th {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  tr:hover {
    background-color: var(--md-sys-color-surface-container-low);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  td a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
  }




body {
    font-family: Arial, sans-serif;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    margin: 0;
    padding: 0;
  }
  header {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    padding: 20px;
    text-align: center;
  }
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
  }
  .card {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    padding: 20px;
    padding-bottom: 50px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.6s;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .card h3 {
    margin-bottom: 15px;
    color: var(--md-sys-color-primary);
  }
  /* .card p {
    color: #555;
    font-size: 14px;
    margin-bottom: 15px;
  } */
  .card a {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  .card a:hover {
    background-color: var(--md-sys-color-primary-fixed-dim);
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
  }

  header a {
    color: var(--md-sys-color-on-primary);
    text-decoration: none;
  }

  header a:visited {
    color: var(--md-sys-color-on-primary);
    text-decoration: none;
  }

